.movie-list-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

@media (max-width: 600px) {
  .movie-list-view {
    grid-template-columns: 1fr; /* Full width cards on smaller screens */
  }
}
